#h1
 {
     
    color: white;
     background-image: url(https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png);
     padding: 200px;
     
     height: 200px;
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
 }
 h3
 {
     color: white;
 }
img
{
    margin: 25px;
}
